[access]
	inheritFrom = All-Projects
[project]
	description = Generic and architecture agnostic vSwitch testing framework
[allowSuperproject "armband"]
	matching = refs/heads/stable/colorado:refs/heads/stable/colorado
[access "refs/*"]
	owner = group ldap/opnfv-gerrit-vswitchperf-submitters
	read = group GitHub Replication
