[access]
	inheritFrom = All-Projects
[access "refs/for/refs/*"]
	push = group ldap/opnfv-gerrit-vswitchperf-contributors
	push = group ldap/opnfv-gerrit-vswitchperf-submitters
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/opnfv-gerrit-vswitchperf-submitters
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group ldap/opnfv-gerrit-vswitchperf-submitters
	submit = group ldap/opnfv-gerrit-vswitchperf-submitters
	forgeAuthor = group ldap/opnfv-gerrit-vswitchperf-contributors
	forgeCommitter = group ldap/opnfv-gerrit-vswitchperf-contributors
	forgeAuthor = group ldap/opnfv-gerrit-vswitchperf-submitters
	forgeCommitter = group ldap/opnfv-gerrit-vswitchperf-submitters
[access "refs/tags/*"]
	create = group ldap/opnfv-gerrit-vswitchperf-submitters
	push = +force group ldap/opnfv-gerrit-vswitchperf-submitters
	pushTag = group ldap/opnfv-gerrit-vswitchperf-submitters
	pushSignedTag = group ldap/opnfv-gerrit-vswitchperf-submitters
[commentlink "its-jira"]
	match = (JIRA:\\s*)(.*[A-Z]-[0-9]*)
	link = https://jira.opnfv.org/browse/$2
[plugin]
	its-jira = enabled=true
[project]
	description = Generic and architecture agnostic vSwitch testing framework
