# Copyright (c) 2015-2018 Intel corporation, Spirent Communications
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0

pexpect==3.3
tox==1.8.1
jinja2==2.7.3
xmlrunner==1.7.7
requests==2.8.1
netaddr==0.7.18
scapy-python3==0.18
pylint==1.5.6
pyzmq==14.5.0
distro
stcrestclient
matplotlib
numpy
pycrypto
